*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.carousel-inner{
    height: 700px;
    width: 100vw;
}
.carousel-inner img{
    height: 700px;
    width: 100vw;
}
#sofa{
    position: absolute;
    top: -330px;
}
#link{
    position: absolute;
    top: -270px;
    left: 2px;
}
.grid{
    display: grid;
    grid-template-columns: 30% 70%;
    height: 155vh;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}
.grid1 ul li{
    list-style-type: none;
    font-size: 15px;
}
.grid1 h2{
    margin-left: 25px;
    margin-top: 10px;
}
.grid1 ul{
    border-bottom: 2px solid grey;
    padding-bottom: 30px;
}
.grid1 h4, h5{
    margin-left: 25px;
    margin-top: 10px;
}
.grid1 input{
    margin-left: 25px;
}
.grid1 .inp{
    width: 50px;
}
.grid1 .ul2{
    border: none;
}
.grid1 p{
    margin-left: 25px;
    font-size: 20px;
}
.rangee{
    width: 210px;
    margin-bottom: 10px;
}
.subgrid1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    height: 155vh;
    width: 40vw;
    margin: auto;
}
.sub{
    height: 300px;
    border-radius: 10px;
}
.sub1{
    background-image: url(./figma/image-2.PNG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.sub2{
    background-image: url(./figma/image-3.PNG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.sub3{
    background-image: url(./figma/image-4.PNG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.sub4{
    background-image: url(./figma/image-5.PNG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.sub5{
    background-image: url(./figma/image-6.PNG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.sub6{
    background-image: url(./figma/image-7.PNG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
footer{
    height: 10vh;
    width: 100vw;
    background-color: #f6f6f6;
    margin-top: 20px;
    margin-bottom: 20px;
}
#info{
    position: fixed;
    bottom: 50%;
}
#info img{
    margin-bottom: 5px;
}
#info img:hover{
    width: 50px;
}
.name{
    height: 30px;
    width: 400px;
    margin-bottom: 40px;
    font-size: 15px;
    margin: auto;
}